$bg-color-first: rgba(27, 32, 42, 1);
$bg-color-second: rgba(37, 43, 54, 1);

$text-color-first: rgba(255, 255, 255, 1);
$text-color-second: rgba(208, 208, 208, 1);

$text-bg-color-first: rgba(51, 57, 69, 1);
$text-bg-color-second: rgba(67, 74, 87, 1);

$accent-color: rgba(53, 120, 255, 1);
