@import './reset';
@import './variables';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  background-color: $bg-color-first;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.main {
  margin-top: 205px;
}

.container {
  margin: 0 auto;
  max-width: 1480px;
  padding: 0 20px;
}
