@import '../../assets/scss/main.scss';

.template {
  background-color: $text-bg-color-first;
  border-radius: 40px;
  padding: 50px;
  margin-bottom: 54px;

  &Title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 50px;
  }

  &Text {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  &Row_inputs {
    display: flex;
    flex-direction: row;
    column-gap: 41px;
    margin-bottom: 67px;
  }

  &Input {
    border-radius: 20px;
    border: 2px solid $accent-color;
    width: 100%;
    padding: 13px 23px;
    margin-bottom: 41px;

    font-size: 27px;
    font-weight: 500;
  }

  &Label {
    position: relative;

    svg {
      position: absolute;
      right: 33px;
      top: 33%;
    }
  }

  &Upload_photo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    width: 212px;
    height: 212px;
    border-radius: 12px;
    border: 6px solid $accent-color;
    margin-bottom: 41px;
    text-align: center;
    cursor: pointer;

    svg {
      margin: 0 auto;
    }

    p {
      font-size: 14px;
      color: $text-color-second;
    }
  }

  &Much_text {
    width: 100%;
    background-color: $text-bg-color-second;
    border-radius: 25px;
    padding: 24px;
    min-height: 188px;
    max-height: 1000px;
    margin-bottom: 41px;

    font-size: 27px;
    font-weight: 500;

    resize: vertical;

    &:focus {
      outline: none;
    }
  }

  &Btn {
    display: flex;
    background-color: $accent-color;
    border-radius: 24px;
    padding: 14px 62px;
    margin: 0 auto;

    font-size: 34px;
    font-weight: 700;
  }

  &Trip_details {
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;

    &__head {
      display: grid;
      grid-template-columns: 1fr 3fr 4fr 5fr 3fr;
      color: $text-color-second;
      padding: 0 25px;
      margin-bottom: 27px;
    }

    &__body {
      background-color: $text-bg-color-second;
      border-radius: 32px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      &Item {
        position: relative;

        display: grid;
        grid-template-columns: 1fr 3fr 4fr 5fr 3fr;
        line-height: 2;

        span {
          display: none;
        }

        &__delete {
          position: absolute;
          width: 33px;
          height: 33px;
          right: 0;
          top: 0;
          cursor: pointer;
        }

        &__edit {
          position: absolute;
          width: 33px;
          height: 33px;
          right: 0;
          bottom: 0;
          cursor: pointer;
        }
      }
    }
  }
}

.create_tour {
  display: flex;
  flex-direction: column;
  color: $text-color-first;

  &Title {
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 127px;
  }

  &List {
    padding: 0 80px;
    line-height: 35px;
    margin-bottom: 54px;

    &__item {
      list-style: inside;
      font-size: 29px;
      font-weight: 500;
      list-style-position: outside;
    }
  }

  &Btn {
    background-color: $accent-color;
    border-radius: 24px;
    width: 656px;
    height: 68px;

    font-size: 34px;
    font-weight: 700;

    a {
      color: $text-color-first;
    }
  }
}

@media (max-width: 1000px) {
  .template {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 44px;

    &Title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 34px;
    }

    &Text {
      font-size: 16px;
      margin-bottom: 34px;
    }

    &Row_inputs {
      display: flex;
      flex-direction: column;
      row-gap: 34px;
      column-gap: 0;
      margin-bottom: 34px;
    }

    &Input {
      border-radius: 15px;
      padding: 10px 15px;
      margin-bottom: 34px;

      font-size: 16px;
    }

    &Label {
      svg {
        position: absolute;
        width: 15px;
        height: 9px;
        right: 17px;
        top: 50%;
      }
    }

    &Upload_photo {
      width: 147px;
      height: 147px;
      border-radius: 12px;
      border: 5px solid $accent-color;
      margin-bottom: 34px;

      p {
        font-size: 12px;
      }
    }

    &Much_text {
      margin-bottom: 34px;

      font-size: 16px;
    }

    &Btn {
      border-radius: 20px;
      // width: 100%;
      padding: 11px 30px;

      font-size: 18px;
    }

    &Trip_details {
      flex-direction: row;
      margin-bottom: 34px;
      font-size: 18px;

      &__head {
        display: none;
      }

      &__body {
        background-color: inherit;
        border-radius: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;

        &Item {
          background-color: $text-bg-color-second;
          border-radius: 20px;
          padding: 25px;
          position: relative;

          display: flex;
          flex-direction: column;
          row-gap: 40px;
          line-height: 2;
          font-size: 18px;

          span {
            font-size: 16px;
            display: block;
            margin-bottom: 10px;
            color: $text-color-second;
          }

          &__delete {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 25px;
            top: 25px;
          }

          &__edit {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 25px;
            bottom: 25px;
          }
        }
      }
    }
  }

  .create_tour {
    &Title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 57px;
    }

    &List {
      padding: 21px;
      line-height: 1;

      &__item {
        font-size: 16px;
        font-weight: 500;
      }
    }

    &Btn {
      border-radius: 20px;
      width: 100%;
      height: auto;
      padding: 11px;

      font-size: 18px;
    }
  }
}
