@import '../../assets/scss/main.scss';

.fixedNavBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.circle {
  background-color: $accent-color;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

header {
  .nav {
    padding: 23px 0;
    background-color: $bg-color-second;

    &Row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__link {
        &Menu {
          display: none;
        }
      }
    }

    &MobList {
      display: none;
    }

    &List {
      display: flex;
      flex-direction: row;
      column-gap: 39px;

      &__item {
        position: relative;

        font-weight: 700;
        font-size: 18px;

        background: $text-bg-color-first;
        border-radius: 17px;

        color: $text-color-first;
        cursor: pointer;

        &Link {
          padding: 9px 30px;
        }

        ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          padding: 19px 20px;
          margin-top: 14px;
          right: 0;
          overflow: hidden;

          row-gap: 28px;

          background-color: $text-bg-color-first;
          border-radius: 28px;

          a {
            color: $text-color-first;
          }
        }

        &Un {
          font-weight: 700;
          font-size: 18px;

          background-color: $text-color-first;
          border-radius: 17px;

          cursor: pointer;

          &Link {
            display: flex;
            margin: 0 auto;
            color: $accent-color;
            padding: 9px 30px;
          }
        }
      }
    }

    &User {
      display: flex;
      flex-direction: row;
      column-gap: 19px;
      align-items: center;

      &__item {
        position: relative;
        height: 31px;
        width: 31px;

        &List {
          position: absolute;
          display: flex;
          flex-direction: column;
          padding: 19px 20px;
          margin-top: 14px;
          right: 0;
          overflow: hidden;

          color: $text-color-first;
          row-gap: 39px;

          background-color: $text-bg-color-first;
          border-radius: 28px;

          &Note {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            column-gap: 10px;

            &__left {
              display: flex;
              flex-direction: column;
              row-gap: 8px;

              &Checked {
                display: flex;
                flex-direction: row;
                column-gap: 13px;

                p {
                  font-weight: 700;
                  font-size: 18px;
                  color: $text-color-second;
                }
              }

              &Text {
                min-width: 240px;
                font-size: 16px;
              }
            }

            &__right {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              p {
                color: $text-color-second;
                font-size: 14px;
                text-align: right;
              }
            }
          }
        }
      }

      // a {
      //   height: 31px;
      //   width: 31px;
      // }

      &__is_auth {
        display: flex;
        flex-direction: row;
        column-gap: 19px;

        a {
          height: 44px;
          width: 44px;

          img {
            width: 44px;
            height: 44px;
            border-radius: 8px;
          }
        }
      }

      svg {
        cursor: pointer;
      }

      &__login {
        width: 96px;
        height: 38px;

        background-color: $accent-color;
        border-radius: 17px;

        color: $text-color-first;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 1400px) {
  header {
    .nav {
      border-radius: 0 0 15px 15px;

      &Row {
        flex-direction: row-reverse;

        &__link {
          display: flex;
          flex-direction: row;
          column-gap: 26px;
          align-items: center;

          a {
            width: 39px;
            height: 27px;
            z-index: 9;

            img {
              width: 39px;
              height: 27px;
            }
          }

          &Menu {
            display: block;
            cursor: pointer;
            z-index: 9;
          }
        }
      }

      &List {
        display: none;
      }

      &MobList {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: 720px;

        background-color: $bg-color-second;
        border-radius: 0 0 15px 15px;
        padding: 90px 0 0;

        &__item {
          color: $text-color-first;
          padding: 20px;

          font-weight: 700;
          font-size: 18px;
          color: $text-color-first;

          border-top: 1px solid $accent-color;

          a {
            display: -webkit-box;
            color: $text-color-first;

            p {
              margin-right: 15px;
            }

            svg {
              width: 12px;
              height: 14px;
            }
          }

          &Title {
            padding-bottom: 22px;
          }

          ul {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            font-weight: 400;
            font-size: 16px;

            li {
              display: flex;
              flex-direction: row;
              column-gap: 10px;
              color: $text-color-first;
              align-items: center;

              div {
                cursor: pointer;
              }

              a {
                width: 100%;
                color: $text-color-first;
              }
            }
          }

          &Un {
            padding-bottom: 20px;

            a {
              padding: 0 20px;
              font-weight: 700;
              font-size: 18px;
              color: $text-color-first;
            }
          }
        }
      }

      &User {
        flex-direction: row-reverse;
        z-index: 9;

        &__login {
          width: 88px;
          height: 35px;
        }

        &__item {
          svg {
            width: 25px;
            height: 25px;
          }

          &List {
            right: auto;
            left: -110px;

            &Note {
              &__left {
                &Checked {
                  align-items: center;

                  svg {
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }
          }
        }
        &__is_auth {
          svg {
            display: none;
          }
        }
      }
    }
  }
}
