@import '../../assets/scss/main.scss';

.mobFeedbackItem {
  display: none;
}

.feedbackItem {
  display: flex;
  flex-direction: row;
  column-gap: 40px;

  background-color: $text-bg-color-first;
  border-radius: 35px;

  padding: 32px 40px 50px;
  color: $text-color-first;

  img {
    height: 109px;
    width: 109px;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 39px;

    &Top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h3 {
        font-size: 35px;
        font-weight: 700;
      }

      p {
        color: $text-color-second;
        font-size: 20px;
        font-weight: 500;
      }
    }

    &Text {
      font-size: 25px;
      font-weight: 500;
      line-height: 1.4;
    }
  }
}

@media (max-width: 1000px) {
  .feedbackItem {
    display: none;
  }

  .mobFeedbackItem {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    background-color: $text-bg-color-first;
    border-radius: 20px;

    padding: 20px 13px;
    color: $text-color-first;

    &__user {
      display: flex;
      flex-direction: row;
      column-gap: 14px;
      align-items: center;

      img {
        height: 78px;
        width: 78px;
        border-radius: 50%;
      }

      h3 {
        font-size: 24px;
        font-weight: 700;
      }
    }

    &__text {
      font-size: 16px;
      font-weight: 500;
    }

    &__date {
      margin-top: 20px;
      text-align: right;
      font-size: 16px;
      font-weight: 500;
      color: $text-color-second;
    }
  }
}
