@import '../../assets/scss/main.scss';

.footer {
  margin-top: auto;
  padding: 71px 0 47px;
  background-color: $bg-color-second;

  &Wrapper {
    display: flex;
    flex-direction: column;

    img {
      width: 105px;
      height: 73px;
      margin-bottom: 56px;
    }

    &__about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 66px;

      &Contacts {
        h3 {
          margin-bottom: 47px;
          color: $text-color-first;
          font-weight: 700;
        }

        &__phone {
          color: $text-color-second;
          margin-bottom: 47px;
          font-size: 20px;
        }

        &__address {
          font-size: 20px;
          color: $text-color-second;
        }
      }

      &Time {
        h3 {
          margin-bottom: 47px;
          color: $text-color-first;
          font-weight: 700;
        }

        &__hours {
          color: $text-color-second;
          margin-bottom: 47px;
          font-size: 20px;
        }

        &__days {
          font-size: 20px;
          color: $text-color-second;
        }
      }

      &Social {
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 47px;
          color: $text-color-first;
          font-weight: 700;
        }

        &Items {
          display: flex;
          flex-direction: row;
          column-gap: 23px;
        }
      }
    }

    &__fund {
      display: flex;
      flex-direction: row;
      column-gap: 44px;
      align-items: center;
      margin-bottom: 90px;

      h1 {
        max-width: 510px;
        color: $text-color-first;
        font-weight: 700;
      }

      img {
        width: 227px;
        height: 117px;
        margin-bottom: 0;
      }
    }

    &__copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        color: $text-color-second;
        font-size: 24px;
      }

      p {
        color: $text-color-second;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    &Wrapper {
      align-items: center;
      text-align: center;

      &__about {
        flex-direction: column;
        margin-bottom: 56px;

        &Contacts {
          margin-bottom: 56px;

          h3 {
            margin-bottom: 18px;
            font-size: 20px;
          }

          &__phone {
            margin-bottom: 18px;
            font-size: 16px;
          }

          &__address {
            font-size: 16px;
          }
        }

        &Time {
          margin-bottom: 56px;

          h3 {
            margin-bottom: 18px;
            font-size: 20px;
          }

          &__hours {
            margin-bottom: 18px;
            font-size: 16px;
          }

          &__days {
            font-size: 16px;
          }
        }

        &Social {
          h3 {
            margin-bottom: 36px;
            font-size: 20px;
          }
        }
      }

      &__fund {
        flex-direction: column;
        margin-bottom: 56px;

        h1 {
          margin-bottom: 18px;
        }
      }

      &__copyright {
        flex-direction: column;

        a {
          font-size: 18px;
          margin-bottom: 56px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}
