@import '../../assets/scss/main.scss';

.tour_page {
  display: flex;
  flex-direction: column;
  color: $text-color-first;

  &__title {
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 59px;
  }

  &__city {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 83px;
  }

  &__images {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin-bottom: 231px;

    &Left {
      width: 45%;
      height: 600px;
      border-radius: 30px;
      object-fit: cover;
    }

    &Right {
      display: flex;
      flex-direction: row;
      column-gap: 25px;
      width: 55%;
      height: 600px;

      &__first {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        justify-content: space-between;
        height: 600px;
        width: 45%;

        img {
          border-radius: 30px;
          height: 100%;
          object-fit: cover;
        }
      }

      &__second {
        height: 600px;
        width: 55%;

        border-radius: 30px;
        object-fit: cover;
      }
    }
  }

  &__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 224px;

    &Left {
      width: 900px;
    }

    &Right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &Props {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 110px;

      &__item {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        h3 {
          font-size: 32px;
          font-weight: 700;
          color: $text-color-second;
        }

        p {
          font-size: 24px;
          font-weight: 500;
        }
      }
    }

    &Title {
      font-size: 56px;
      font-weight: 900;
      margin-bottom: 46px;
    }

    &Text {
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 110px;
    }

    &Route {
      display: flex;
      flex-direction: row;
      column-gap: 190px;

      &__item {
        display: flex;
        flex-direction: column;
        row-gap: 33px;

        h3 {
          font-size: 30px;
          font-weight: 700;
        }

        p {
          font-size: 23px;
          font-weight: 500;
          color: $text-color-second;
        }
      }
    }

    &Order {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background-color: $text-bg-color-first;
      border-radius: 39px;
      width: 416px;
      height: 416px;
      padding: 31px 25px;

      color: $text-color-first;

      &__price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &Value {
          display: flex;
          flex-direction: column;

          h3 {
            color: $accent-color;
            font-size: 50px;
            font-weight: 700;
          }

          p {
            font-size: 21px;
            font-weight: 500;
          }
        }

        &Sale {
          display: flex;
          flex-direction: row;
          column-gap: 12px;
          align-items: baseline;

          p {
            font-size: 21px;
            font-weight: 700;
          }

          h3 {
            color: $accent-color;
            font-size: 36px;
            font-weight: 700;
          }
        }
      }

      &__btn {
        background-color: $accent-color;
        width: 100%;
        height: 60px;
        border-radius: 21px;

        font-size: 30px;
        font-weight: 700;

        a {
          color: $text-color-first;
        }
      }

      &__rating {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &Stars {
          display: flex;
          flex-direction: row;
          column-gap: 1px;

          svg {
            width: 28px;
            height: 28px;
          }
        }

        &Feedback {
          font-size: 21px;
        }
      }
    }

    &Guide {
      display: flex;
      flex-direction: column;
      row-gap: 34px;

      &__data {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 128px;
          height: 128px;
          margin-right: 20px;
        }

        h3 {
          font-size: 34px;
          font-weight: 700;
        }
      }

      &__btn {
        background-color: $accent-color;
        border-radius: 24px;
        width: 100%;
        height: 68px;

        font-size: 34px;
        font-weight: 700;
      }
    }
  }

  &__program {
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;

    &Title {
      font-size: 56px;
      font-weight: 900;
      color: $text-color-first;
      margin-bottom: 110px;
    }

    &List {
      display: flex;
      flex-direction: column;
      row-gap: 110px;
    }
  }

  &__cancel {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 160px;

    background-color: $text-bg-color-first;
    border-radius: 32px;
    padding: 36px 55px;

    &Title {
      color: $accent-color;
      font-size: 56px;
      font-weight: 900;
    }

    &Text {
      font-size: 30px;
      font-weight: 700;
    }
  }

  &__feedbacks {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    margin-bottom: 160px;

    &Top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__rating {
        display: flex;
        flex-direction: row;
        column-gap: 47px;

        font-size: 40px;
        font-weight: 900;

        &Stars {
          display: flex;
          flex-direction: row;
          column-gap: 3px;

          svg {
            height: 47px;
            width: 47px;
          }
        }
      }

      &__btn {
        background-color: $accent-color;
        border-radius: 24px;
        width: 416px;
        height: 68px;

        font-size: 34px;
        font-weight: 700;

        a {
          color: $text-color-first;
        }
      }
    }

    &List {
      display: flex;
      flex-direction: column;
      row-gap: 46px;
    }
  }

  &__reserve {
    &Title {
      font-size: 56px;
      font-weight: 900;
      margin-bottom: 137px;
    }

    &Form {
      display: flex;
      flex-direction: column;
      background-color: $text-bg-color-first;
      border-radius: 35px;
      padding: 58px 90px 70px;

      &__select_date {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 70px;
      }

      &__input_date {
        border: 2px solid $accent-color;
        border-radius: 28px;
        width: 293px;
        height: 69px;
        padding: 18px 26px;
        margin-bottom: 56px;

        font-size: 27px;
        font-weight: 500;
      }

      &__tourist {
        display: flex;
        flex-direction: column;
        row-gap: 55px;
        margin-bottom: 88px;

        &Item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          p {
            font-size: 30px;
            font-weight: 500;
          }

          &__price {
            display: flex;
            flex-direction: row;
            column-gap: 63px;

            p {
              font-size: 36px;
              font-weight: 700;
            }

            &Count {
              display: flex;
              flex-direction: row;
              column-gap: 18px;
              width: 366px;
              justify-content: space-between;

              &__value {
                display: grid;
                background-color: $text-bg-color-second;
                border-radius: 38px;
                width: 237px;
                height: 100%;
                text-align: center;
                align-items: center;

                font-size: 24px;
                font-weight: 700;
              }
            }
          }
        }
      }

      &__add {
        display: flex;
        flex-direction: column;
        row-gap: 42px;
        margin-bottom: 160px;

        &Item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          label {
            width: 300px;
            font-size: 30px;
            font-weight: 500;
          }

          input {
            width: 850px;
            height: 60px;
            border: 2px solid $accent-color;
            border-radius: 28px;
            padding: 18px 26px;

            font-size: 27px;
            font-weight: 500;
          }
        }
      }

      &__footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        align-items: center;

        button {
          background-color: $accent-color;
          border-radius: 32px;
          width: 560px;
          height: 74px;

          font-size: 40px;
          font-weight: 700;
        }

        a {
          position: absolute;
          right: 0;
          font-size: 30px;
          font-weight: 700;
          color: $accent-color;
          border-bottom: 3px solid $accent-color;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .tour_page {
    &__about {
      column-gap: 30px;

      &Props {
        justify-content: start;
        column-gap: 80px;
        row-gap: 60px;
        flex-wrap: wrap;
      }
    }

    &__reserve {
      &Form {
        &__footer {
          display: flex;
          flex-direction: column;
          justify-content: start;
          position: static;
          align-items: center;
          row-gap: 30px;

          a {
            position: static;
            right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .tour_page {
    &__title {
      font-size: 24px;
      margin-bottom: 41px;
    }

    &__city {
      font-size: 20px;
      margin-bottom: 41px;
    }

    &__images {
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 64px;

      &Left {
        width: 100%;
        height: 350px;
        border-radius: 20px;
      }

      &Right {
        flex-direction: row;
        column-gap: 10px;
        width: 100%;
        height: 350px;

        &__first {
          flex-direction: column;
          row-gap: 10px;
          height: 350px;
          width: 50%;

          img {
            border-radius: 20px;
            height: 49%;
          }
        }

        &__second {
          height: 350px;
          width: 50%;

          border-radius: 20px;
        }
      }
    }

    &__about {
      flex-direction: column;
      justify-content: start;
      margin-bottom: 100px;

      &Left {
        width: 100%;
      }

      &Right {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        row-gap: 60px;
      }

      &Props {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: start;
        margin-bottom: 100px;

        &__item {
          flex-direction: row;
          row-gap: 0;
          justify-content: space-between;
          align-items: end;
          padding-bottom: 10px;
          border-bottom: 1px solid $accent-color;

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      &Title {
        font-size: 24px;
        margin-bottom: 40px;
      }

      &Text {
        font-size: 16px;
        margin-bottom: 60px;
      }

      &Route {
        flex-direction: column;
        column-gap: 0;
        row-gap: 40px;
        margin-bottom: 60px;

        &__item {
          row-gap: 30px;

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 16px;
            padding-bottom: 10px;
            border-bottom: 1px solid $accent-color;
          }
        }
      }

      &Order {
        border-radius: 33px;
        width: 100%;
        height: 328px;
        padding: 26px 21px;

        &__price {
          &Value {
            h3 {
              font-size: 42px;
            }

            p {
              font-size: 18px;
            }
          }

          &Sale {
            column-gap: 9px;

            p {
              font-size: 18px;
            }

            h3 {
              font-size: 30px;
            }
          }
        }

        &__btn {
          height: 44px;
          border-radius: 20px;

          font-size: 20px;
        }

        &__rating {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &Stars {
            display: flex;
            flex-direction: row;
            column-gap: 1px;

            svg {
              width: 23px;
              height: 23px;
            }
          }

          &Feedback {
            font-size: 18px;
          }
        }
      }

      &Guide {
        display: flex;
        flex-direction: column;
        row-gap: 34px;

        &__data {
          img {
            width: 85px;
            height: 85px;
            margin-right: 12px;
          }

          h3 {
            font-size: 24px;
          }
        }

        &__btn {
          border-radius: 20px;
          height: 44px;

          font-size: 20px;
        }
      }
    }

    &__program {
      margin-bottom: 100px;

      &Title {
        font-size: 24px;
        margin-bottom: 40px;
      }

      &List {
        row-gap: 54px;
      }
    }

    &__cancel {
      row-gap: 20px;
      margin-bottom: 100px;

      border-radius: 20px;
      padding: 20px;

      &Title {
        font-size: 24px;
      }

      &Text {
        font-size: 16px;
      }
    }

    &__feedbacks {
      flex-direction: column;
      row-gap: 100px;
      margin-bottom: 100px;

      &Top {
        flex-direction: column;
        row-gap: 45px;
        justify-content: start;

        &__rating {
          justify-content: center;
          column-gap: 33px;

          font-size: 26px;

          &Stars {
            display: flex;
            flex-direction: row;
            column-gap: 3px;

            svg {
              height: 30px;
              width: 30px;
            }
          }
        }

        &__btn {
          border-radius: 20px;
          width: 100%;
          height: 44px;

          font-size: 20px;
        }
      }

      &List {
        row-gap: 54px;
      }
    }

    &__reserve {
      &Title {
        font-size: 24px;
        margin-bottom: 54px;
      }

      &Form {
        border-radius: 20px;
        padding: 23px 20px 34px;

        &__select_date {
          font-size: 18px;
          margin-bottom: 28px;
        }

        &__input_date {
          border-radius: 20px;
          width: 100%;
          height: 44px;
          padding: 13px 20px;
          margin-bottom: 47px;
          font-size: 16px;
        }

        &__tourist {
          row-gap: 40px;
          margin-bottom: 40px;

          &Item {
            flex-direction: column;
            justify-content: start;
            row-gap: 28px;

            p {
              font-size: 16px;
            }

            &__price {
              justify-content: space-between;
              column-gap: 0px;

              p {
                font-size: 20px;
              }

              &Count {
                column-gap: 10px;
                width: 200px;

                svg {
                  width: 30px;
                  height: 30px;
                }

                &__value {
                  display: grid;
                  border-radius: 24px;
                  width: 130px;
                  height: 30px;

                  font-size: 16px;
                }
              }
            }
          }
        }

        &__add {
          row-gap: 40px;
          margin-bottom: 45px;

          &Item {
            flex-direction: column;
            justify-content: start;
            row-gap: 28px;

            label {
              width: auto;
              font-size: 16px;
            }

            input {
              width: 100%;
              height: 44px;
              border-radius: 20px;
              padding: 13px 20px;

              font-size: 16px;
            }
          }
        }

        &__footer {
          row-gap: 15px;

          button {
            border-radius: 20px;
            width: 100%;
            height: 44px;
            font-size: 20px;
          }

          a {
            font-size: 16px;
            border-bottom: 2px solid $accent-color;
          }
        }
      }
    }
  }
}
