@import '../../assets/scss/main.scss';

.login {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 11;
  overflow-y: hidden;

  color: $text-color-first;

  &Block {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 140px;
    width: 966px;

    background-color: $bg-color-first;
    border-radius: 40px;
    padding: 46px 110px;

    &__close {
      position: absolute;
      right: 39px;
      cursor: pointer;
    }

    &__title {
      margin: 0 auto;
      font-size: 40px;
      font-weight: 900;
      margin-bottom: 57px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      row-gap: 35px;
      margin-bottom: 20px;

      input {
        background-color: $text-bg-color-first;
        border-radius: 40px;
        padding: 16px 34px;
        width: 100%;
        height: 70px;
      }

      &Btn {
        margin: 0 auto;
        width: 303px;
        height: 69px;
        background-color: $accent-color;
        border-radius: 40px;

        font-size: 36px;
        font-weight: 700;
      }
    }

    &__role {
      display: flex;
      flex-direction: row;
      column-gap: 28px;
      align-items: center;
      margin-bottom: 63px;
      cursor: pointer;

      &Circle {
        width: 34px;
        height: 34px;
        border: 3px solid $accent-color;
        border-radius: 50%;
      }

      &Text {
        font-size: 32px;
        font-weight: 500;
      }
    }

    &__forgot_password {
      margin: 0 auto;
      border-bottom: 2px solid $accent-color;
      margin-bottom: 56px;

      font-size: 24px;
      font-weight: 500;
      color: $accent-color;
    }

    &__other {
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      p {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 37px;
      }

      &Items {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 1400px) {
  .login {
    &Block {
      top: 120px;
      width: 600px;

      border-radius: 20px;
      padding: 63px 20px;

      &__close {
        top: 23px;
        right: 32px;
        width: 14px;
        height: 14px;
      }

      &__title {
        font-size: 24px;
        margin-bottom: 30px;
      }

      &__form {
        row-gap: 21px;
        margin-bottom: 28px;

        input {
          padding: 10px 18px;
          height: 36px;

          font-size: 14px;
        }

        &Btn {
          width: 100%;
          height: 44px;
          border-radius: 20px;

          font-size: 20px;
        }
      }

      &__role {
        column-gap: 16px;
        margin-bottom: 31px;

        &Circle {
          width: 25px;
          height: 25px;
          border: 2px solid $accent-color;
        }

        &Text {
          font-size: 18px;
        }
      }

      &__forgot_password {
        margin-bottom: 34px;
        font-size: 16px;
      }

      &__other {
        p {
          font-size: 20px;
          margin-bottom: 27px;
        }

        &Items {
          svg {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .login {
    &Block {
      width: 90%;
    }
  }
}
