@import '../../assets/scss/main.scss';

.guide_chat {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  color: $text-color-first;
}

@media (max-width: 1400px) {
  .guide_chat {
    flex-direction: column;
    column-gap: 0;
    row-gap: 43px;
  }
}
