@import '../../assets/scss/main.scss';

input[type='radio'] {
  display: none;
}

.tour {
  &Item {
    position: relative;
    flex-shrink: 0;

    img {
      border-radius: 28px;
    }

    &Text {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      bottom: 21px;
      padding: 30px 17px 20px;

      &__title {
        font-size: 38px;
        font-weight: 700;
        color: $text-color-first;
        margin-bottom: 22px;
      }

      &__description {
        font-size: 20px;
        font-weight: 500;
        color: $text-color-first;
        margin-bottom: 16px;
      }

      &__add {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &Left {
          display: flex;
          flex-direction: column;
          justify-content: end;

          &__rating {
            display: flex;
            flex-direction: row;
            column-gap: 1px;
            margin-bottom: 5px;
          }

          &__reviews {
            font-size: 16px;
            font-weight: 500;
            color: $text-color-first;
          }
        }

        &Right {
          display: flex;
          flex-direction: column;

          &__price {
            font-size: 38px;
            font-weight: 700;
            color: $text-color-first;
          }

          &__man {
            font-size: 16px;
            font-weight: 500;
            color: $text-color-first;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .tour {
    &Item {
      padding-left: 23px;
    }
  }
}
